.base {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: .5rem;
    padding-bottom: 2rem;

    &::before {
        content: '';
        display: block;
        width: 40%;
        height: 1px;
        background: linear-gradient(to right, transparent, var(--primary100));
    }

    .items {
        display: flex;
        gap: .5rem;
        list-style: none;

        .item {
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: var(--border-radius);
            transition: var(--transition);

            &:hover {
                background: var(--primary100);
            }

            .link {
                display: flex;
                padding: .4rem;
            }

        }
    }

    .copy {
        font-size: .8rem;
        color: var(--secondary400);
        text-align: end;
    }

    .auth {
        color: var(--primary500);
        font-size: .75rem;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}
