@use "@/styles/variables" as *;
@use "@/styles/animations" as *;

.base {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    transition: var(--transition);
    @include fade-in(up, 0.2s);

    &:not(:last-child)::after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, transparent, var(--primary100), transparent);
    }

    .title {
        font-size: 1.25rem;
        line-height: 1.5;
    }

    .description {
        font-size: 0.8125rem;
        color: var(--secondary500);

        @media screen and (max-width: $viewport-lg) {
            display: none;
        }
    }

    .tags {
        display: flex;
        gap: .5rem;
    }

    .meta {
        display: flex;
        gap: .75rem;

        .item {
            position: relative;
            font-size: .85rem;
            color: var(--secondary500);

            &:not(:first-child)::before {
                content: "|";
                position: absolute;
                top: 50%;
                left: -6px;
                color: inherit;
                transform: translate(-50%, -50%);
                user-select: none;
            }
        }
    }

    &.dimmed {

        .title,
        .description,
        .tags,
        .meta {
            opacity: 0.5;
        }
    }
}
