.base {
    display: flex;
    position: fixed;
    padding: .5rem;
    bottom: 1rem;
    right: 1rem;
    background-color: color-mix(in srgb, var(--primary100) 50%, transparent);
    border: 1px solid var(--primary100);
    backdrop-filter: blur(5px);
    border-radius: calc(var(--border-radius) * 2);
    box-shadow: var(--box-shadow-sm);
    transition: var(--transition);
    opacity: 0;
    pointer-events: none;
    cursor: pointer;
    color: inherit;

    &:hover {
        background-color: color-mix(in srgb, var(--primary100) 90%, transparent);
    }

    &.visible {
        opacity: 1;
        pointer-events: auto;
    }
}
