@use "@/styles/variables" as *;
@use "@/styles/animations" as *;

.base {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    .tagsWrapper {
        display: flex;
        flex-direction: column;

        .tags {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 1rem;
            list-style: none;

            @media screen and (max-width: $viewport-md) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            @media screen and (max-width: $viewport-sm) {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }

            a {
                @include fade-in(up, 0.2s);
                text-decoration: none;
            }

            .tag {
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                gap: .5rem;
                padding: 1rem;
                border: 1px solid var(--primary50);
                border-radius: var(--border-radius);
                transition: var(--transition);

                &:hover {
                    transform: scale3d(1.01, 1.01, 1.01);
                    background: var(--primary100);
                    border-color: var(--primary100);
                    cursor: pointer;
                }

                .description {
                    font-size: .85rem;
                }
            }
        }
    }
}
