.base {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    .actions {
        display: flex;
        justify-content: flex-end;
    }

    .inputWrapper {
        display: flex;
        flex-direction: column;
        gap: .5rem;
    }
}
