@use "@/styles/animations" as *;

.base {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    .date {
        color: var(--secondary500);
    }

    .tags {
        display: flex;
        gap: .5rem;
    }

    .actions {
        display: flex;
        justify-content: flex-end;
        color: var(--secondary950);

        .manage {
            display: flex;
            gap: .5rem;
        }

        .list {
            margin-left: auto;
        }
    }

    .content {
        @include fade-in(up, 0.2s, 0.1s);

        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 1px;
            margin-top: .75rem;
            background: linear-gradient(to right, transparent, var(--primary100), transparent);
        }

        &:global(.wmde-markdown) {
            font-family: inherit;
            background: transparent;
            line-height: 1.8;
            --color-fg-default: var(--secondary950);
            --color-fg-muted: var(--secondary600);
            --color-fg-subtle: var(--secondary500);
            --color-border-default: var(--secondary200);
            --color-border-muted: var(--secondary100);
            --color-canvas-default: var(--secondary50);
            --color-canvas-subtle: var(--secondary100);

            a {
                text-decoration: underline;

                &[data-footnote-ref],
                &[data-footnote-backref] {
                    text-decoration: none;
                }
            }

            code {
                white-space: pre-wrap;
            }

            pre {
                border: 1px solid var(--secondary200);
            }

            img {
                border-radius: var(--border-radius);
            }

            table {
                overflow-x: scroll;
                word-break: keep-all;
            }
        }
    }
}
