@use "@/styles/animations" as *;

.base {
    display: flex;
    flex-direction: column;
    gap: .75rem;

    .records {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
}
