@use "@/styles/variables" as *;
@use "@/styles/animations" as *;

$duration: 0.3s;
$leading-offset: 0s;
$heading-offset: 0.5s;
$cards-offset: 0.7s;

.base {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .leading {
        line-height: 2.1;

        p {
            @include fade-in(up, $duration);

            &:nth-child(1) {
                animation-delay: $leading-offset;
            }

            &:nth-child(2) {
                animation-delay: $leading-offset + 0.2s;
            }
        }
    }

    .works {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .heading {
            @include fade-in(up, $duration, $heading-offset);
        }

        .cards {
            display: grid;
            grid-template-columns: repeat(3, minmax(0, 1fr));
            gap: 1rem;

            @media screen and (max-width: $viewport-md) {
                grid-template-columns: repeat(2, minmax(0, 1fr));
            }

            @media screen and (max-width: $viewport-sm) {
                grid-template-columns: repeat(1, minmax(0, 1fr));
            }

            a {
                text-decoration: none;

                &:nth-child(1) {
                    @include fade-in(up, $duration, $cards-offset);
                }

                &:nth-child(2) {
                    @include fade-in(up, $duration, $cards-offset + 0.1s);
                }

                &:nth-child(3) {
                    @include fade-in(up, $duration, $cards-offset + 0.2s);
                }
            }

            .card {
                display: flex;
                flex-direction: column;
                gap: 1rem;
                padding: 1rem;
                height: 100%;
                border: 1px solid var(--primary50);
                border-radius: var(--border-radius);
                transition: var(--transition);

                &:hover {
                    transform: scale3d(1.01, 1.01, 1.01);
                    background: var(--primary100);
                    border-color: var(--primary100);
                }

                .title {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .description {
                    font-size: .85rem;
                    color: var(--secondary500);
                    line-height: 1.7;
                }
            }
        }
    }
}
